/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* general clean original style*/
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px; 
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}





/* header */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.header{
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.header-container{
  display: flex;
  align-items: center;
}

.header-navigation{
  align-items: center;
}

.header-logo {
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.adress-lists{
  display: flex;
  gap: 40px;
  align-items: center;
  /* margin-left: 200px; */
}

.header-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link{
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; 
  padding: 24px 0; 
}

.header-link:hover{
  color: #404bbf;
}

.header-link:focus{
  color: #404bbf;
}

.header-logo span {
  color: #2e2f42;z
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  
}

.header-menu-item{
  
}

.address{
  font-style: normal; 
  margin-left: auto;
}

.address-link{
  color:  #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.address-link:hover {
  color:  #404bbf;
}

.address-link:focus{
  color:  #404bbf;
}





/* Section 1 main */

.main{
  background: #2e2f42;
  max-height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/main-backgrond.jpg);
}

.main-title {
  color: #ffffff;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
}

.main-container{
  
}





/* section 1 */
.main-btn {
  display: block;
  min-width: 169px;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56px;
  width: 169px;
  background:  #4d5ae5;
  border: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}

.main-btn:hover {
  background: #404bbf;
  cursor: pointer;
}

.main-btn:focus {
  background: #404bbf;
  cursor: pointer;
}






/* Section 2 strategy */

.strategy{
padding-top: 120px;
padding-bottom: 120px;
}

.strategy-list{
  display: flex;
  gap: 24px;
}

.strategy-list-item{
  max-width: 264px;
}

.strategy-list-wrap{
  display: flex;

  margin-bottom: 8px;
  

  border-radius: 4px;
  border: 1px solid #8E8F99;
  background: #F4F4FD;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
}

.strategy-list-img {
  padding-left: 100px;  
}

.strategy-list-sub {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.strategy-list-text {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}








/* Section 3 ourteam */
.ourteam{
  background-color: #F4F4FD;
  padding: 120px 0;
  max-height: 732px;
}

.ourteam-container{

}

.ourteam-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #F4F4FD;
  margin-bottom: 72px
}

.ourteam-list{
  display: flex;
  gap: 24px;
  max-height: 380px;
  max-width: 264px;
}

.ourteam-item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  /* padding-bottom: 400px; */
  height: 428px;
}

.ourteam-name-prof{
  padding: 32px 0;
  
}

.ourteam-img{

}

.ourteam-sub{
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ourteam-text{
    text-align: center;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; 
}

.ourteam-soc{
  fill: none;
  display: flex;
  gap: 24px;
  padding-left: 15px;
  padding-top: 8px;
}

.ourteam-soc-list{

}

.ourteam-soc-wrap{
  display: flex;
  flex-direction: row;
  background-color: #4D5AE5;
  border-radius: 100%;
  width: 40px;
  height: 40px;
    
}

.ourteam-soc-svg{
  padding-left: 11px;
  
}





/* Section 4 ourportfolio */

.ourportfolio{
  padding: 120px 0 120px 0;
}

.ourportfolio-container{

}

.ourportfolio-list{
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px 18px; */
  column-gap: 24px;
  row-gap: 48px;
}

.ourportfolio-item{
  background: var(--WHITE, #FFF);
  width: calc((100% - 48px) / 3);
  
}

.ourportfolio-title {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize; 
  margin-bottom: 72px; 
}

.ourportfolio-img{

}

.ourportfolio-sub-text{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}

.ourportfolio-sub {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;  
    margin-bottom: 8px;  
}
.ourportfolio-text {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;  
    /* margin-bottom: 32px;   */
}






/* footer */
.footer-container{
}

.footer{
 background: #2E2F42;   
 padding: 100px 0;
}

.footer-logo{
    display: inline-block; 
    /* margin-bottom: 16px; */
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;  
     
}

.footer-logo span{
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;   
    max-width: 264px;
    margin-top: 17.5px;
}